@model  RiotMVC.Models.SummonerModel

@{
    ViewBag.Title = "URF Stats";
}


@section scripts 
{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datatables.css" rel="stylesheet" />
    <script>
        var homeUrl = "@Href("~/Home")";
    </script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap-datatables.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/app/home.js"></script>
}

<div style="min-height: 500px">
    <div class="row tile-title">
        <div class="title">
            <h1>URF STATS</h1>
        </div>
    </div>
    <div class="tile-header">        
        <div class="row header-separator">
            <div class="col-md-12 form-group form-inline form-horizontal row" style="margin-top: 30px">
                <div class="col-md-2">
                    <label>Date</label>
                    <input id="date" type="date" name="date" data-date-start-date="02/04/2015" data-date-end-date="13/04/2015" class="form-control date-field" />
                </div>
                <div class="col-md-3 ">
                    <label>Time</label>
                    <select class="form-control time-field" id="hours" name="hours">
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                    </select>
                    <select class="form-control time-field" id="minutes" name="minutes">
                        <option>00</option>
                        <option>05</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>25</option>
                        <option>30</option>
                        <option>35</option>
                        <option>40</option>
                        <option>45</option>
                        <option>50</option>
                        <option>55</option>
                    </select>
                </div>
                <div class="col-md-7">
                    <button id="submit" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <div class="tile-body">
        <div id="loading" class="loading hidden">
            <img src="~/Content/images/ajax-loader.gif" alt="Loading..." />
        </div>
        <div id="statsSection" class="">
            <div class="numberOfGamesSection col-sm-4 col-sm-offset-4">
                <p>Total Games: <span id="totalGames"></span></p>
            </div>
            <div class="averageStatsSection row">
                <p>Total Kills: <span id="totalKills"></span></p>
                <p>Total Deaths: <span id="totalDeaths"></span></p>
                <p>Double Kills: <span id="doubleKills"></span></p>
                <p>Triple Kills: <span id="tripleKills"></span></p>
                <p>Quadra Kills: <span id="quadraKills"></span></p>
                <p>Penta Kills: <span id="pentaKills"></span></p>
                <p>Biggest Crit: <span id="biggestCrit"></span></p>
            </div>
            <div class="teemoSection">
                <span>Number of Teemo deaths: <span id="teemoDeaths"></span></span>
            </div>
        </div>
        <table id="championTable" class="table table-striped table-hover hidden">
            <thead>
                <tr>
                    <th>Champion</th>
                    <th>Times Played</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>Assists</th>
                    <th>Kill/Death Ratio</th>
                    <th>Kill &amp; Assist/Death Ratio</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <ul id="championList"></ul>
    </div>
</div>